* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    --fw-1: 300;
    --fw-2: 500;
    --fw-3: 700;
}

html {
    font-size: 32px;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: auto;
    font-family: 'Inter', sans-serif;
}

body::after {
    content: '';
    background-image: url('./images/pattern-curve.svg');
    position: absolute;
    bottom: -1rem;
    left: 0;
    /* z-index: -1; */
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAROUSEL CONTAINER */
.container {
    position: relative;
    width: 90%;
    height: 20rem;
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    /* padding: .5rem; */
}

/* SLIDER AND SLIDES*/
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .5s;
}

.image-slider-container {
    position: relative;
    height: 60%;
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url('./images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.image-slider {
    height: 80%;
    width: 70%;
    border-radius: .3rem;
    
}

.slide>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.testimonials {
    position: relative;
    height: 50%;
    width: 90%;
    z-index: 2;
    padding-top: 1rem;
}

.testimonial-slider {
    height: 100%;  
    width: 100%;
}

.testimonial-slide {
    font-size: .55rem;
    font-weight: var(--fw-1);
    text-align: center;
    color: var(--dark-blue);
}

.testimonials::before {
    content: url('./images/pattern-quotes.svg');
    position: absolute;
    top: 0%;
    left: 15%;
}

.testimonial-slide>article {
    height: 100%;
    width: 100%;
}

/* CONTROL BUTTONS */

.btn-container {
    font-size: .5rem;
    position: absolute;
    height: 1.3rem;
    width: 3rem;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    display: flex;
    box-shadow: 1px 14px 10px 2px rgba(0,0,0,0.26);
}

.controls {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.controls:hover {
    cursor: pointer;
}

.prev-btn {
    background-image: url('./images/icon-prev.svg');
}

.next-btn {
    background-image: url('./images/icon-next.svg');
}


/* AUTHOR */
.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
    margin-top: .5rem;
}

.author-name {
    font-weight: var(--fw-3);
    font-size: .55rem;
    color: var(--dark-blue);
}

.author-designation {
    font-weight: var(--fw-2);
    color: var(--grayish-blue);
    font-size: .45rem;
}

/* ATTRIBUTION */
.attribution {
    width: 100%;
    font-size: .5rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* RESPONSIVE STYLES */

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        left: 4%;
    }

    .testimonials{
        margin-top: .5rem;
        height: 50%;
        width: 50%;
        left: 9%;
    }

    .image-slider-container {
        height: 80%;
        width: 50%;
        right: 9%;
        background-position: 50%;
    }

    .image-slider {
        height: 80%;
    }

    .testimonial-slide>article>blockquote {
        font-size: .8rem;
        text-align: left;
        height: 70%;
    }

    .author {
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        padding: .2rem;
    }

    .author-name {
        font-size: .6rem;
    }

    .author-designation {
        font-size: .6rem;
    }
}